{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>{{ post.title }} - Papo Reto</title>
    <link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">
{% endblock %}

{% block body %}
    {% include 'components/navbar.html' %}
    <main>
        <aside>
            <div class="person_container">
                <img src="#" alt="#">
                <div>
                    <h3>{{ post.author.name }}</h3>
                    <span>Autor(a)</span>
                </div>
            </div>
        </aside>
        <section>
            <h1>{{ post.title }}</h1>
            <p>{{ post.content }}</p>
        </section>
    </main>
{% endblock %}