{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static '/css/pages/posts/post.css' %}">
    <title>{{ post.title }} - Papo Reto</title>
{% endblock %}

{% block main %}
    <aside>
        <div class="person_container">
            <img src="#" alt="#">
            <div>
                <h3>{{ post.author.name }}</h3>
                <span>Autor(a)</span>
            </div>
        </div>
    </aside>
    <section>
        <h1>{{ post.title }}</h1>
        {{ post.content|safe }}
    </section>
{% endblock %}