main {
    display: flex;

    aside {
        width: 20%;

        display: flex;
        justify-content: end;
        padding-right: 4rem;

        div.person_container {
            display: flex;
            gap: 1rem;
            margin-top: 8rem;

            span {
                display: block;
            }
        }
    }

    section {
        width: 80%;
    }
}
